<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
          id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="span4 offset4 well">
            <legend>Авторизация</legend>
            {% if form.errors %}
                <div class="alert alert-error">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <form method="POST" action="{% url 'sign_in' %}" accept-charset="UTF-8">
                {% csrf_token %}
                {{ form.username.label_tag }}
                {{ form.username }}

                {{ form.password.label_tag }}
                {{ form.password }}
                <button type="submit" name="submit" class="btn btn-info btn-block">Войти</button>
            </form>
            <a href="/" class="btn btn-info btn-block">Отмена</a>
        </div>
    </div>
</div>
</body>
</html>