{% load static %}

<div class="d-none d-xl-block col-xl-2 bd-toc">
        {% comment %} {% if request.user.is_authenticated %} 
        <ul class="section-nav">
            <li class="toc-entry toc-h2">
                <a href="{% url 'profile' pk=id_user %}">Моя страница</a>
            </li>
                <li class="toc-entry toc-h2">
                <a href="#">Друзья</a>
            </li>
                <li class="toc-entry toc-h2">
                <a href="{% url 'edit' pk=id_user %}">Настройка</a>
            </li>
        </ul> 
        {% endif %} {% endcomment %}
</div> 