<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Chat room</a> 
   <ul class="nav navbar-tabs navbar-right auth">
        {% comment %} {% if user.is_authenticated %} 
            <li class="p-3"><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
            <li class="p-3"><a href="{% url 'login' %}">Login</a></li>
            <li class="p-3"><a href="{% url 'signup' %}">Sign up</a></li>
        {% endif %} {% endcomment %}
    </ul>
</nav> 