{% extends 'layout/base.html' %}
{% load static %}

{% block content %} 
  
 <div class="container-fluid">
  <div class="row flex-xl-nowrap">
  <!--menu content room-->
    {% block chat_list %}
            {% include 'chat/chat_list.html' %}  
    {% endblock %} 
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
    {% block menu_profils %}
	    {% include 'layout/profile_f.html' %}
	  {% endblock %}  
    </main>
    {% block menu_profile %}
	    {% include 'layout/menu_profile.html' %}
	  {% endblock %} 
 
  </div> 
</div>  
{% endblock %} 