{% extends 'layout/base.html' %}
{% load form_tags %}
{% load static %}


{% block title %}
    {{title}}
{% endblock title %}

{% block content %} 

<div class="container-fluid">
  <div class="row flex-xl-nowrap">
      {% block chat_list %}
            {% include 'chat_list.html' %}  
        {% endblock %}  

  <!--menu content room-->
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
      {% comment %} <h1 class="bd-title" id="content">Typography</h1> {% endcomment %}
    </main>
    
    {% block menu_profile %}
        {% include 'layout/menu_profile.html' %} 
    {% endblock %}  
 
  </div> 
</div> 

{% endblock %} 