<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">PJBook</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav navbar-right">
            <li>
                <div class="search">
                    <input type="text" class="form-control input-sm" maxlength="64" placeholder="Поиск"/>
                    <button type="submit" class="btn btn-primary btn-sm">Поиск</button>
                </div>
            </li>
            {% if not user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Регистрация</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Вход</a>
                </li>
            {% else %}
                <li class="nav-item"><a href="#">Профиль</a></li>
                <li class="nav-item"><a href="#">Выйти</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
